@import "reset.css";
:root {
	--green: rgb(33,214,97);
	--red: rgb(255,65,65);
	--dark: rgb(38,34,33);
	--orange: rgb(254,176,28);
	--blue: rgb(36,80,169);
	--brown: rgb(155,121,93);
	--light-blue: rgb(74,148,193);
	--violet: rgb(200,55,182);
	--gray: rgb(247,247,247);
	--white: white;
}
@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/Gilroylight.woff2') format('woff2'), url('../fonts/Gilroylight.woff') format('woff'), url('../fonts/Gilroylight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/Gilroyextrabold.woff2') format('woff2'), url('../fonts/Gilroyextrabold.woff') format('woff'), url('../fonts/Gilroyextrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
*, *::before, *::after {
	box-sizing: border-box
}
[hidden] {
	display: none
}
html {
	scroll-behavior: smooth
}
body {
	font-family: "Gilroy";
	font-size: 16px;
	line-height: 1.4;
	background-color: var(--white)
}
.wrapper {
	max-width: 1298px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 64px;
	padding-left: 64px;
}
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}
.header {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: var(--white)
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 110px
}
.logo {
	display: flex;
	align-items: center;
	white-space: nowrap
}
.header__info {
	display: flex
}
.header__info-address {
	text-transform: uppercase
}
.btn {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	border-radius: 30px;
	padding-right: 30px;
	padding-left: 30px;
	color: var(--white);
	font-weight: bold
}
.btn_green {
	background-color: var(--green)
}
.btn_red {
	background-color: var(--red)
}
.solve {
	padding-top: 100px;
	padding-bottom: 50px;
	background-color: var(--gray);
	background-image: url("../images/solve.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: auto 90%
}
.title {
	font-size: 1.875em;
	font-weight: bold
}
.solve__icon-wave {
	width: 130px;
	color: var(--green);
	margin-bottom: 20px
}
.solve__text {
	width: 320px;
	margin-bottom: 25px;
	font-size: 1.25em
}
.solve__btn {
	margin-bottom: 20px
}
.choose-plan {
	display: flex;
	align-items: center
}
.choose-plan__arrow {
	font-size: 110px;
	color: var(--red);
	transform: translate(30px, -10px)
}
.choose-plan__img {
	width: 120px;
	margin-right: 15px;
	position: relative
}
.choose-plan__text {
	display: inline-block;
	width: 100px
}
.invitation-video {
	padding-top: 75px;
	padding-bottom: 135px;
	position: relative;
	overflow: hidden
}
.invitation-video__title {
	padding-left: 80px
}
.invitation-video__text {
	font-size: 1.25em;
	width: 480px;
	padding-left: 200px;
	margin-bottom: 50px
}
.invitation-video__container {
	width: 480px;
	height: 350px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	background-color: black
}
.video__img,
.video__play {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto
}
.video__img {
	width: 100%
}
.video__play {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: var(--red);
	z-index: 1
}
.invitation-video__frame {
	width: 100%;
	height: 100%
}
.video__play-triangle {
	font-size: 26px;
	color: var(--white);
	vertical-align: middle
}
.invitation-video__wrist {
	width: 45vw;
	height: 225px;
	background-image: url("../images/invitation-video__wrist.png");
	background-repeat: no-repeat;
	background-position: right 0;
	background-size: contain;
	position: absolute;
	right: 0;
	bottom: 70px;
	z-index: 1;
	transition-property: transform;
	transition-duration: .3s
}
.invitation-video__touch {
	transform: translate(100%, 20%)
}
.seven {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 55px;
	overflow-x: hidden;
	color: var(--white);
	background-color: black;
	background-image: linear-gradient(-45deg, rgba(243,178,21,.5), rgba(59,217,205,.5)), url("../images/seven.png");
	background-repeat: no-repeat;
	background-position: center, 50% 90%;
	background-size: auto, 50% auto
}
.seven__title {
	margin-bottom: 40px
}
.seven__mark {
	display: inline-block;
	background-color: var(--orange);
	padding-right: 10px;
	padding-left: 10px;
	transform: skewX(-15deg)
}
.seven__items {
	position: relative;
	height: 470px;
	margin-bottom: 390px;
}
.seven__mark-text {
	display: inline-block;
	transform: skewX(15deg)
}
.text_orange {
	color: var(--orange)
}
.seven__text {
	width: 330px;
	position: absolute
}
.seven__five {
	display: block;
	font-size: 2.25em
}
.seven__end-text {
	display: inline-block;
	width: 430px;
	font-size: 1.125em
}
.seven__text-line_move {
	stroke-dasharray: var(--dash);
	stroke-dashoffset: var(--dash);
	animation: seven__dash 2s linear;
	animation-fill-mode: forwards
}
@keyframes seven__dash {
	0% {stroke-dashoffset: var(--dash-move, var(--dash))}
	to {stroke-dashoffset: 0}
}
.seven__line-svg {
	position: absolute;
	fill: none;
	stroke: var(--white);
	stroke-width: .75px
}
.after {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 100px;
	background-image: url(../images/figures.png)
}
.after__title {
	margin-bottom: 60px
}
.after__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	counter-reset: after
}
.after__item {
	flex-basis: 50%;
	position: relative;
	margin-bottom: 70px
}
.after__item::before {
	content: '0'counter(after);
	counter-increment: after;
	position: absolute;
	top: -.35em;
	right: 47%;
	font-size: 7.5em;
	line-height: 1;
	font-weight: bold
}
.after__item:nth-of-type(3n) {
	flex-basis: 100%
}
.after__img {
	width: 200px;
	margin-bottom: 20px;
	position: relative
}
.after__text {
	width: 260px;
	margin-right: auto;
	margin-left: auto
}
.after__arrow {
	position: absolute;
	width: 260px
}
.after__arrow,
.after__line {
	fill: none;
	stroke: var(--dark);
	stroke-miterlimit:10;
	stroke-width:2px
}
.after__line {
	stroke-dasharray: 12 6
}
.after__item:first-child .after__arrow {
		top: 30px;
		right: -22%;
		width: 260px
}
.after__item:nth-child(2) .after__arrow {
		bottom: 0;
		right: -22%;
}

@media all and (min-width: 1299px) {
	:root {
		--dash: 300;
		--dash-move: -300
	}
	.for-tablet {
		display: none
	}
	.header__container {
		height: 135px
	}
	.logo-img {
		width: 50px;
		margin-right: 20px
	}
	.header__info {
		justify-content: space-between;
		flex-basis: 655px
	}
	.header__info-tel {
		font-size: 1.375em
	}
	.header__info-address {
		position: relative;
		padding-left: 55px
	}
	.header__icon-hotel {
		font-size: 40px;
		position: absolute;
		bottom: 0;
		left: 0
	}
	.solve {
		padding-top: 160px;
		padding-bottom: 100px;
		background-position-x: 80%
	}
	.title {
		font-size: 2.75em
	}
	.solve__title {
		width: 700px;
		margin-bottom: 35px
	}
	.solve__icon-wave,
	.solve__text {
		transform: translateX(45px)
	}
	.solve__text {
		width: 450px;
		margin-bottom: 85px
	}
	.choose-plan__img {
		width: 150px
	}
	.invitation-video {
		padding-top: 150px;
		padding-bottom: 180px;
		background-image: url("../images/iPad.png"), url("../images/invitation-video__figures-desktop.png"), url("../images/figures.png");
		background-repeat: no-repeat, no-repeat, repeat;
		background-position: 50% 427px, 50%, 50%;
		background-size: auto, 90% auto, auto;
	}
	.invitation-video__title {
		padding-left: 450px
	}
	.invitation-video__text {
		width: 900px;
		padding-left: 620px;
		margin-bottom: 110px;
		position: relative;
	}
	.invitation-video__text-line {
		font-size: 380px;
		position: absolute;
		top: 60%;
		right: 220px;
		z-index: 1;
		color: var(--red)
	}
	.video__play {
		width: 180px;
		height: 180px
	}
	.video__play-triangle {
		font-size: 50px
	}
	.invitation-video__container {
		width: 769px;
		height: 576px
	}
	.invitation-video__wrist {
		height: 670px;
		bottom: -200px
	}
	.seven {
		background-position: center, 50% 100%;
		background-size: auto, 62% auto
	}
	.seven__five {
		font-size: 2.625em
	}
	.seven__text {
		width: 300px
	}
	.seven__text:first-child {
		top: 100px;
		right: 55%
	}
	.seven__text:first-child .seven__line-svg {
		top: -70%;
		left: 50%;
		width: 230px
	}
	.seven__text:nth-child(2) {
		top: 400px;
		right: 65%
	}
	.seven__text:nth-child(2) .seven__line-svg,
	.seven__text:nth-child(3) .seven__line-svg {
		top: -100%;
		left: 60%;
		width: 180px
	}
	.seven__text:nth-child(3) {
		top: 650px;
		right: 65%
	}
	.seven__text:nth-child(4) {
		top: 50px;
		left: 54%
	}
	.seven__text:nth-child(4) .seven__line-svg,
	.seven__text:nth-child(5) .seven__line-svg {
		top: 110%;
		left: 20%;
		width: 110px
	}
	.seven__text:nth-child(5) {
		top: 240px;
		left: 70%
	}
	.seven__text:nth-child(5) .seven__line-svg {
		left: -30%
	}
	.seven__text:nth-child(6) {
		top: 400px;
		left: 66%
	}
	.seven__text:nth-child(6) .seven__line-svg {
		top: 105%;
		left: -20%;
		width: 100px
	}
	.seven__text:last-child {
		top: 600px;
		left: 70%
	}
	.seven__text:last-child .seven__line-svg {
		top: -80%;
		left: -35%;
		width: 100px
	}
	.after {
		padding-top: 110px;
		padding-bottom: 130px
	}
	.after__img {
		width: 300px
	}
	.after__text {
		font-size: 1.125em
	}
}

@media all and (max-width: 1298px) {
	:root {
		--dash: 620
	}
	.for-desktop {
		display: none
	}
	.logo,
	.header__info {
		flex-direction: column
	}
	.logo-img {
		width: 41px;
		margin-bottom: 5px
	}
	.header__info-tel {
		font-size: 1.125em
	}
	.solve__title {
		width: 360px;
		margin-bottom: 10px
	}
	.solve__icon-wave,
	.solve__text {
		transform: translateX(20px)
	}
	.choose-plan__arrow {
		margin-right: -70px
	}
	.invitation-video {
		background-image: url("../images/invitation-video__figures-tablet.png"), url("../images/figures.png");
		background-repeat: no-repeat, repeat;
		background-position: 50%, 50%
	}
	.invitation-video__container {
		border-radius: 25px;
		overflow: hidden
	}
	.seven__text:nth-child(odd) .seven__line-svg {
		left: 0
	}
	.seven__text:nth-child(even) .seven__line-svg {
		right: 0;
		transform: scaleX(-1)
	}
	.seven__text:nth-child(odd) {
		right: 53%
	}
	.seven__text:nth-child(even) {
		left: 53%
	}
	.seven__text:first-of-type,
	.seven__text:nth-of-type(2) {
		top: 0
	}
	.seven__text:nth-of-type(3),
	.seven__text:nth-of-type(4) {
		top: 160px
	}
	.seven__text:nth-of-type(5),
	.seven__text:nth-of-type(6) {
		top: 290px
	}
	.seven__text:last-of-type {
		top: 420px;
		left: 0; right: 0;
		margin-right: auto;
		margin-left: auto
	}
	.seven__line-svg {
		top: 100%
	}
	.seven__text:first-of-type .seven__line-svg,
	.seven__text:nth-of-type(2) .seven__line-svg {
		width: 270px
	}
	.seven__text:nth-of-type(3) .seven__line-svg,
	.seven__text:nth-of-type(4) .seven__line-svg {
		width: 200px
	}
	.seven__text:nth-of-type(5) .seven__line-svg,
	.seven__text:nth-of-type(6) .seven__line-svg {
		width: 80px
	}
	.seven__text:last-of-type .seven__line-svg {
		left: 80%;
		width: 90px
	}
}