@import "reset.css";
:root {
	--green: rgb(33,214,97);
	--red: rgb(255,65,65);
	--dark: rgb(38,34,33);
	--orange: rgb(254,176,28);
	--blue: rgb(36,80,169);
	--brown: rgb(155,121,93);
	--light-blue: rgb(74,148,193);
	--violet: rgb(200,55,182);
	--gray: rgb(247,247,247);
}